.connections img{
    width: 98.7vw;
    position: relative;
    top: 2.5em;
}

.connect{
    display: flex;
    /* background: cornflowerblue; */
    justify-content: space-between;
    width: 80vw;
    height: 6vh;

    position: relative;
    bottom: 0.3em;
    left: 10em;
}

.connect .copyright{
    /* background: rgb(199, 115, 131); */
    display: flex;
    align-items: center;
}

.connections .networks{
    /* background: chartreuse; */
    width: 12vw;
    display: flex;
    justify-content: space-around;
}

.connections .networks img{
    width: 2em;
    position: relative;
    top: 0em;
}


