/* filter */

.filter{
    margin: 2em;
    display: flex;
    flex-direction: column;
    background: #d3e9eb;;
    width: 30vw;
    justify-content: space-evenly;

   position: absolute;
   top: 47.9em;
   left: 44em;
   border-radius: 0.3em;
   box-shadow: #e6e4e4 -1px 1px 5px;
}

.filter div{
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
}

.filter button{
  background-color: #00d3b8;
  color: #ffff;
  cursor: pointer;
}

.filter button:hover{
  color: #00d3b8;
}

.filter input,.filter button{
    padding: 0.5em;
    margin:0.5em;
    border: none;
    outline: none;
    border-radius: 0.2em;
}