/* visitors */

.visitor{
    position: relative;
    margin: 1em;
    background: #b4f0e9;
    display: flex;
    width: 43%;
    min-height: 10vh;
    padding: 1em;
    justify-content: space-around;
}

.visitor img{
    border-radius: 50%;
    height: 5em;
    width: 5em;
}

.visitor-info{
  /* background: darkmagenta;  */
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(2,9em);
  grid-template-rows: repeat(2,2em);
 }

.visitor-info #username{
  color: black;
  cursor: pointer;
}

.visitor-info #username:hover{
  color:rgb(146, 146, 146);
}

