*{
    margin: 0;
    padding: 0;
}

/* LandingPage */

.landingpage{
    /* background:rgb(6, 97, 59) ; */
    background-image: url('/imgs/bg.png');
    min-height: 100vh;
}

.landing-nav{
    /* background: rgb(2, 185, 109); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
}

.landing-nav ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color:white;
}

.landing-nav a{
    list-style: none;
    text-decoration: none;
    color:white;
    border: none;
}

.landingpage #logo{
    height: 16vh;
    width: 56vw;
    margin: 7em 16.5em;
}

.landingpage .tagline{
    /* background: chartreuse; */
    text-align: center;
    width: 45vw;
    margin: 0 auto;
    margin-top: -5em;
    color: white;

    font-size: 0.9em;
}

.landingpage .tagline button{
    background: #00d3b8;
    border: none;
    color: white;
    padding: 1em 5em;
    margin: 2em;
    font-size: 1em;
}

/* howItWorks */

.howItWorks{
    background-image: url('/imgs/how_it_works_bg.png');
    padding: 2em;
    
}

.howItWorks h1{
    color: black;
    text-align: center;
    margin: 0.8em;

    font-size: 2em;
}

.howItWorks h4{
    color: #c9c5c5;
    text-align: center;
    font-size: 1em;
    margin-top: -1em;
}

.icon-container{
    /*background-color: crimson;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2.5em;
}


/* Features */

.card{
    width: 28%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    /*background: cyan;*/
}

.card img{
   width: 20%;
   margin: 1.5em;
}

.card h4{
    color: black;
    margin:1em;
}

/* Contact */

.footer{
    height: 100vh;
    background-image: url('/imgs/contact_bg.png');
}

.footer .footer-form{
    /* background: rebeccapurple; */
    display: flex;
    flex-flow: wrap column;
    width: 25vw;

    position: relative;
    left: 12em;
    top: 10em;
}

.footer-form input, .footer-form textarea{
    margin: 0.15em 0em;
    padding: 0.75em;
    border-radius: 0.25em;
    border: none;
}

.footer-form textarea{
    resize: none;
    height: 8em;
}

.footer-form button{
    margin: 0.15em 0em;
    padding: 1em 1em;
    width: 8vw;
   

    border-radius: 0.25em;
    border: none;
    background: #00d3b8;
    color: #ffff;
}

.footer-details{
    /* background: red; */
    color: #ffff;
    width: 35vw;
    display: flex;

    position: relative;
    left: 42em;
    bottom: 6.5em;
}

.footer-details-type{
    /* background: salmon; */
    display: flex;
    flex-direction: column;
    width: 5em;
    padding: 0em 0.75em;
    align-items: flex-start;
}

.footer-details-type label{
    margin: 0.7em 0em;
}

.footer-details-colon{
    /* background: seagreen; */
    display: flex;
    flex-direction: column;
    width: 2em;
    align-items: center;
}

.footer-details-colon label{
    margin: 0.7em 0em;
}

.footer-details-info{
    /* background: rgb(218, 228, 87); */
    display: flex;
    flex-direction: column;
    width: 18vw;
}

.footer-details-info label{
    margin: 0.7em 1em;
}
/* footer */

#footer-image{
    margin-top: 5em;
    margin-left: 0em;
    width: 70%;

}

/* Register */

.register{
    background-image: url('/imgs/bg.png');
    height: 100vh;
}

.register img{
    margin: 2em 35.6em;
}

.register-box{
    /* background: turquoise; */
    width: 25vw;
    margin: 1em 30em;
}

.register-box h3{
    font-weight: 400;
    color: #ffff;
    padding: 0.5em 0em;
}

.register-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: #bed1cf; */
}

.register-form input{
    padding: 0.75em;
    margin: 0.25em 0;
    border: none;
    outline: none;
    border-radius: 0.2em;
}

.register-form .phone{
    display: flex;
    align-items: flex-end;
    /* background: saddlebrown; */
}
.register-form .phone input{
   margin-left: 0.5em;
   width: 20vw;
   border: none;
   outline: none;
    /* background: saddlebrown; */
}

.register-form select{
    height: 2.7em;
    margin-bottom: 0.2em;
    border: none;
    outline: none;
    border-radius: 0.2em;
}

.register-form button{
    background-color: #00d3b8;
    color: #ffff;
    border: none;
    outline: none;
    width: 25vw;
    padding: 0.8em;
    margin-top: 0.25em;
    border-radius: 0.2em;
}

.register-form label{
    color:#ffff;
    margin:1em 2.9em;
}

.register-form label a{
    text-decoration: none;
    color: #00d3b8;
    margin-left: 0.2em;
}

/* Login */

.login{
    background-image: url('/imgs/bg.png');
    height: 100vh;
}

.login img{
    margin: 2em 35.6em;
}
.login-box{
    /* background: turquoise; */
    width: 25vw;
    margin: 1em 30em;
}

.login-box h3{
    font-weight: 400;
    color: #ffff;
    padding: 0.5em 0em;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: #bed1cf; */
}

.login-form input{
    padding: 0.75em;
    margin: 0.25em 0;
    border: none;
    outline: none;
    border-radius: 0.2em;
}

.login-form button{
    background-color: #00d3b8;
    color: #ffff;
    border: none;
    outline: none;
    width: 25vw;
    padding: 0.8em;
    margin-top: 0.25em;
    border-radius: 0.2em;
}

.login-form label{
    color:#ffff;
    margin:1em 1.5em;
}

.login-form label a{
    text-decoration: none;
    color: #00d3b8;
    margin-left: 0.2em;
}

/* homepageNav */

.homepage-nav{
    background: #314049;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
}

.homepage-nav ul{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color:white;
}

.homepage-nav ul img{
    border-radius: 2.4em;
    height: 4.5em;
    width: 4.5em;
}

.homepage-nav ul li{
    color: #ffff;
}

/* homepage */

.homepage{
    background-image: url('/imgs/bg.png');
    height: 100vh;
}

.home-display{
    /* background: tomato; */
    text-align: center;
    margin: 4em auto;
    height: 10em;
    width: 19em;
    color: white;

    font-size: 1.7em;
}

.home-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: violet solid 3px; */
    width: 30vw;
    margin: 2em auto;
}

.home-options button{
    background-color: #00d3b8;
    color: #ffff;
    border: none;
    outline: none;
    width: 15vw;
    padding: 0.8em;
    margin: 0.25em 0.8em;
    border-radius: 0.2em;
}

/* options */

.options{
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: violet solid 3px; */
    width: 50%;
    margin: 0 20em;
}

.options input{
    padding: 0.75em;
    margin: 0.25em 0.5em 0.25em 0em ;
    width: 80vw;
    border: none;
    outline: none;
    border-radius: 0.2em;
}

.options button{
    background-color: #00d3b8;
    color: #ffff;
    border: none;
    outline: none;
    width: 10vw;
    padding: 0.8em;
    border-radius: 0.2em;
}

/* searchPage */

.searchpage{
    background-image: url('/imgs/bg.png');
    height: 100vh;
}

.searchpage h2{
   margin: 5em  0em 2em 19em;
   color:#ffff;
   font-weight: 400;
}

/* check in page */

.checkInPage{
    background-image: url('/imgs/bg.png');
    height: 100vh;
}

.checkInPage h2{
    margin: 5em  0em 2em 19em;
    color:#ffff;
    font-weight: 400;
 }

 /* search result page */

 .searchResults-options{
     padding: 2em 0em 1em 0em;
     background:#314049;
     opacity: 0.9;
     height: 10vh;
     width: 78.95em;
     position: absolute;
     z-index: 100;
 }

 .visitor-details{
     /* background:gold; */
     padding: 2em 10em;
 }

 .visitor-details button{
     margin: 0.5em 0em 0em 60em;
     background-color: #00d3b8;
     color: #ffff;
     border: none;
     outline: none;
     width: 10vw;
     padding: 0.8em;
     border-radius: 0.2em;
 }

 .visitor-details-header{
    /* background: green; */
    margin: 1em 1em 0.5em 1em;
    display: flex;
    justify-content: space-between;
 }
 .visitor-details-cards{
     /* background: chocolate; */
     display: flex;
     flex-flow: row wrap;      
     justify-content: space-around;
 }

 .visitor-details-header ul{
    /* background: #5d5d5d; */
    width: 8%;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    
}

 /* check in result page */

 .checkinResults-options{
    padding: 2em 0em 1em 0em;
    background:#314049;
    opacity: 0.9;
    height: 10vh;
    width: 78.95em;
    position: absolute;
    z-index: 100;
}

/* maps */

.leaflet-control-container{
    position: absolute;
    top: 10em;
}

  .geocoder-control-input {
    background-image: url("https://raw.githubusercontent.com/Esri/esri-leaflet-geocoder/master/src/img/search.png");
  }

  /* ratings */

  .rate{
     /* background: chartreuse; */
      /* padding: 0.25em; */
      width: auto;
    }

  .rate input[type='radio']{
      visibility: hidden;
  }

  /* visitors */

  .visitor{
      position: relative;
      margin: 1em;
      background: #ebf5f6;
      display: flex;
      width: 43%;
      min-height: 10vh;
      padding: 1em;
      justify-content: space-around;
  }

  .visitor img{
      border-radius: 50%;
      height: 5em;
      width: 5em;
  }

  .visitor-info{
    /* background: darkmagenta;  */
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(2,9em);
    grid-template-rows: repeat(2,2em);
   }

.visitor-info #username{
    color: black;
}

  /* place info*/

  .placeInfo{
     background: #314049;
     color: white;
     display: flex;
     justify-content: space-evenly;
     width: 71vw;
          

     position: absolute;
     z-index: 100;
     top: 32em;
     left: 11em;
  }

  .placeInfo img{
      margin: 0.25em 0em;
      width: 38vh;
  }
  
  .information{
      /* background: #21aaff; */
      width: 26em;
      padding:1em 0em 0em 0.8em;
      
  }

  .information h2{
      font-size: large;
      margin-bottom:0.7em;
  }
  .details{
    /* background: red; */
    color: #ffff;
    width: 18vw;
    display: flex;

    position: relative;
}

.details-type{
    /* background: salmon; */
    display: flex;
    flex-direction: column;
    width: 5em;
    padding: 1.2em 0.75em;
    align-items: flex-start;
}

.details-type label{
    margin: 0.7em 0em;
}

.details-colon{
    /* background: seagreen; */
    display: flex;
    flex-direction: column;
    width: 2em;
    align-items: center;
    padding: 1.2em 0em;
}

.details-colon label{
    margin: 0.7em 0em;
}

.details-type label, .details-colon label, .details-info label{
    font-size: small;
}

.details-info{
    /* background: rgb(218, 228, 87); */
    display: flex;
    flex-direction: column;
    width: 18vw;
    padding: 1.5em 0em;
}

.details-info #visitor-num{
    margin-bottom: 1.2em;
    margin-left: 0.7em;
    margin-top: 0.4em;
}

.details-info #zip{
    margin-top: 1.3em;
    margin-left: 0.7em;
}

  /* filter */

  .filter{
      margin: 2em;
      display: flex;
      flex-direction: column;
      background: #ebf5f6;
      width: 30vw;
      justify-content: space-evenly;

     position: absolute;
     top: 47.9em;
     left: 44em;
     border-radius: 0.3em;
     box-shadow: #e6e4e4 -1px 1px 5px;
  }

  .filter div{
      display: flex;
      justify-content: space-evenly;
      width: 30vw;
  }

  .filter button{
    background-color: #00d3b8;
    color: #ffff;
  }

  .filter input,.filter button{
      padding: 0.5em;
      margin:0.5em;
      border: none;
      outline: none;
      border-radius: 0.2em;
  }

  /* profile head */

  .profileHead-header{
      background-image: url('/imgs/bg.png');
      background-position: -4em -8em;
      display: flex;
      justify-content: space-evenly;
      min-height: 28vh;
      color: white;
 }

 .profileHead-header #profile{
    border-radius: 50%;
    width: 6.5em;
    height: 6.5em;
    border: solid white 2px;
    
    position: relative;
    top: 7.5em;
    left: 4.5em;
}

.profileHead-name{
    /* background: yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0.5em;
    align-items: flex-start;
    height: 2.5em;

    position: relative;
    top: 7.1em;
    left: -1.6em;
}

.profileHead-nationality{
    /* background: chartreuse; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding:0.5em;
    height: 1.5em;
    width: 7em;

    position: relative;
    top: 8.2em;
    left: -8em;
}

.profileHead-header .profileHead-nationality img{
      max-width: 2em;
  }

/* profile contact */

.profileHead-contact{
    /* background: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding:1em;
    height: 1.5em;
    width: 8em;

    position: relative;
    top: 7em;
    left: -12em;
}

/* placesLogged */

.placesLogged{
    background:#ebf5f6;
    display: flex;
    margin: 0.5em;
    width: 40%;
    flex-direction: column;
    justify-content: space-around; 
}   

.placesLogged .region{
    /* background: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.placesLogged-header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.placesLogged-descr{
   padding: 1em;
}

.placesLogged img{
    width: auto;
    max-height: 12em;
}

/* visitor profile */

.place-cards-container{
    /* background: turquoise; */
    padding: 6em 1em;
}

.place-cards-container #numberLog{
    margin-left: 61.5em;
}

.place-cards-container button{
    margin-left: 74.2em;
    margin-top: 0.2em;
    background-color: #00d3b8;
    color: #ffff;
    border: none;
    outline: none;

    width: 10vw;
    height: 7.5vh;
    padding: 0.8em;
    border-radius: 0.2em;
}

.place-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1em;
}

.visitor-profile #save{
    background-color: #00d3b8;
    color: #ffff;
    border: none;
    outline: none;

    position: absolute;
    top: 15.8em;
    left: 69.5em;

    width: 10vw;
    height: 7.5vh;
    padding: 0.8em;
    border-radius: 0.2em;
}

/* date-rating */

.date-rating{
    width: auto;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 8vh;
}

/* Review */

.review{
    /* background: rgb(173, 173, 224); */
    width: 30vw;
    height: 50vh;
    padding: 1em;

    position: absolute;
    top:11.5em;
    left: 26em;
    z-index: 100;
}

.review-box{
    border:none;
    width: 20.9em;
    margin: 1em;
}

.review-box textarea{
    padding: 1em;
    width: 23.1em;
    height: 12em;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: #c9c5c5 solid 1.2px;
    resize: none;
}

.review-rating{
    display: flex;
    padding: 0.7em;
    justify-content: space-between;
    width: 19.5em;
    margin-top: -0.3em;
    background: #ffff;
}

.review button{
    margin: 0em 0em 0.5em 16.8em;
    background-color: #00d3b8;
    color: #ffff;
    border: none;
    outline: none;
    width: 10vw;
    padding: 0.8em;
    border-radius: 0.2em;
}

/* user-profile */

.userprofile .profileHead .profileHead-contact{
    left: -2.5em;
}

.userprofile .edit{
    background:transparent;
    border: #00d3b8 solid 0.1em;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    color: #00d3b8;

    position: absolute;
    top: 8em;
    left: 76em;
}

.userprofile-cards .sidebar{
    background: #b9d8eb;
    width: 18em;
    margin:6em 12em;
}

.userprofile-cards .sidebar .search-post{
    background:#ebf5f6;
    min-height: 5vh;
    display: flex;
    justify-content: space-around;
    padding: 0.4em;
    margin-bottom: 1em;
   
    border:none;
    outline: none;
}

.userprofile-cards .sidebar .search-post input{
    border: none;
    margin-right: 0.3em;
    height: 6vh;
    width: 16em;
    padding: 0.2em 1em;
}

.userprofile-cards .sidebar .search-post button{
    height: 7vh;
    width: 3.6vw;
    padding: 0.8em;
    background: #00d3b8;
    outline: none;
    border:none;
}



