*{
    margin: 0;
    padding: 0;
}

/* Homepage */

.landing-nav{
    background: rgb(2, 185, 109);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
}

.landing-nav ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color:white;
}

.landing-nav a{
    list-style: none;
    text-decoration: none;
    color:white;
}

.landingpage{
    background:rgb(6, 97, 59) ;
    min-height: 80vh;
}

/* Register */

.register form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.register form a{
    text-decoration: none;
    margin: 1em;
}

.register h2{
    text-align: center;
    margin:1em;
}

/* howItWorks */

.howItWorks h1{
    color: rgb(89, 0, 255);
    text-align: center;
    margin: 0.8em;
}

.howItWorks h4{
    text-align: center;
}

.icon-container{
    /*background-color: crimson;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2.5em;
}

/* Contact */

.footer{
    min-height: 70vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: darkblue;
}

.footer h2{
    color: white;
}

/* Features */

.card{
     width: 30%;
     display: flex;
     text-align: center;
     flex-direction: column;
     align-items:center;
     justify-content: space-evenly;
     /*background: cyan;*/
 }

 .card img{
    width: 20%;
    margin: 1.5em;
 }

 .card h4{
     margin:1em;
 }

/* Login */

.login a{
    color:black;
}

.login form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login h2{
    text-align: center;
    margin:1em;
}

.login form a{
    text-decoration: none;
    margin: 1em;
}

/* homepageNav */

.homepage-nav{
    background: rgb(2, 58, 34);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
}

.homepage-nav ul{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color:white;
}

/* homepage */

.homepage{
    background:rgb(6, 97, 59) ;
    min-height: 90vh;
}

.home-display{
    text-align: center;
    padding: 10em;
    color: white;
}

.home-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
   /* border: violet solid 3px;*/
    width: 20%;
    margin: 2em auto;
}

/* options */

.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*border: violet solid 3px;*/
    width: 20%;
    margin: 0 auto;
}

/* search page */

.searchpage h2{
   text-align: center;
   margin: 3em;
}

/* check in page */

.checkInPage h2{
    text-align: center;
    margin: 3em;
 }

 /* search result page */

 .searchResults-options{
     padding: 2em;
     background: chartreuse;
 }

 .visitor-details{
     /* background:gold; */
     padding: 2em 10em;
 }

 .visitor-details button{
     margin-left: 67em;
 }

 .visitor-details-header{
    /* background: green;*/
     margin: 1em;
     display: flex;
     justify-content: space-between;
 }
 .visitor-details-cards{
     /* background: chocolate; */
     display: flex;
     flex-flow: row wrap;      
     justify-content: space-around;
 }

 .visitor-details-header ul{
    /*background: #5d5d5d;*/
    width: 8%;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

 /* check in result page */

 .checkinResults-options{
    padding: 2em;
    /*background: chartreuse;*/
}

/* maps */

#map {
    width: 100%;
    height: 100%;
    /* z-index: 100; */
  }
  
  #mapSearchContainer {
    position: fixed;
    top: 20px;
    right: 40px;
    height: 30px;
    width: 180px;
    /* z-index: 110; */
    font-size: 10pt;
    color: #5d5d5d;
    border: solid 1px #bbb;
    background-color: #f8f8f8;
  }
  
  .pointer {
    position: absolute;
    top: 86px;
    left: 60px;
    /* z-index: 99999; */
  }
  
  .geocoder-control-input {
    background-image: url("https://raw.githubusercontent.com/Esri/esri-leaflet-geocoder/master/src/img/search.png");
  }

  /* ratings */

  .rate{
     /* background: chartreuse; */
      /* padding: 0.25em; */
      width: auto;
    }

  .rate input[type='radio']{
      visibility: hidden;
  }

  /* visitors */

  .visitor{
      position: relative;
      margin: 1em;
      background: #61b0b8;
      display: flex;
      width: 43%;
      min-height: 10vh;
      padding: 1em;
      justify-content: space-around;
  }

  .visitor img{
      border-radius: 50%;
      height: 5em;
      width: 5em;
  }

  .visitor-info{
    /* background: darkmagenta;  */
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(2,9em);
    grid-template-rows: repeat(2,2em);
    
  }

  /* place info*/

  .placeInfo{
     background: darkblue;
     color: white;
     display: flex;
     justify-content: space-evenly;
     width: 78vw;
     padding: 1em;
     margin:1em auto;
  }
  
  .information{
      background: violet;
      width: 26em;
      padding: 1em;
  }

  .information h2{
      margin-bottom:0.5em;
  }

  .details{
      padding: 1em;
      background: tomato;
      width: 18em;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }

  .details .rate{
     margin: 0 auto;
     background: rgb(2, 185, 109);
     width: 8em;
  }

  /* filter */

  .filter{
      margin: 2em;
      display: flex;
      flex-direction: column;
      background: #5d5d5d;
      width: 30vw;
      justify-content: space-evenly;
  }

  .filter div{
      display: flex;
      justify-content: space-evenly;
      width: 30vw;
  }

  .filter input,.filter button{
      padding: 0.5em;
      margin:0.5em;
  }

  /* profile head */

  .profileHead-header{
      background: rgb(3, 107, 3);
      display: flex;
      justify-content: space-evenly;
      min-height: 28vh;
      color: white;
 }

 .profileHead-header #profile{
    border-radius: 50%;
    width: 6.5em;
    height: 6.5em;
    border: solid white 2px;
    
    position: relative;
    top: 7.5em;
    left: 4.5em;
}

.profileHead-name{
    /* background: yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0.5em;
    align-items: flex-start;
    height: 2.5em;

    position: relative;
    top: 7.1em;
    left: -1.6em;
}

.profileHead-nationality{
    /* background: chartreuse; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding:0.5em;
    height: 1.5em;
    width: 7em;

    position: relative;
    top: 8.2em;
    left: -8em;
}

.profileHead-header .profileHead-nationality img{
      max-width: 2em;
  }
.profileHead-header #save{
    padding: 1em;
    height: 8vh;

    position: relative;
    top: 8.8em;
    left: -11em;
}

/* profile contact */

.profileHead-contact{
    /* background: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding:1em;
    height: 1.5em;
    width: 8em;

    position: relative;
    top: 7.3em;
    left: -2.5em;
}

/* placesLogged */

.placesLogged{
    background: violet;
    display: flex;
    margin: 0.5em;
    width: 40%;
    flex-direction: column;
    justify-content: space-around; 
}   

.placesLogged .region{
    /* background: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.placesLogged-header{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.placesLogged-descr{
   padding: 1em;
}

.placesLogged img{
    width: auto;
    max-height: 12em;
}

/* visitor profile */

.place-cards-container{
    background: turquoise;
    padding: 6em 1em;
}

.place-cards-container #numberLog{
    margin-left: 61.5em;
}

.place-cards-container button{
    margin-left: 80em;
    padding: 0.55em;
}

.place-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1em;
}

/* date-rating */

.date-rating{
    width: auto;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 8vh;
}

/* .date-rating #date{
    margin-left: 1em;
} */

/* Review */

.review{
    background: rgb(173, 173, 224);
    width: 30vw;
    height: 50vh;
    padding: 1em;
}

.review-box{
    border:1px solid black;
    width: 20.9em;
    margin: 1em;
}

.review-box textarea{
    padding: 1em;
    width: 23.1em;
    height: 12em;
    border-top:none;
    border-left: none;
    border-right: none;
    resize: none;
}

.review-rating{
    display: flex;
    padding: 0.7em;
    justify-content: space-between;
    width: 20em;
}

.review button{
    margin: 1em 23em;
}

